.button
  width: 11.812rem
  height: 2.687rem
  font-size: 1rem
  font-weight: 500
  border: none
  border-radius: 1.571rem
  color: $light
  background-color: $red
  transition: background-color 0.3s
  &--long
    width: 13.687rem
    height: 3.062rem
  &:hover
    cursor: pointer
    background-color: $light
    color: $red
    border: 0.125rem solid $red
  &--outline
    background-color: $light
    color: $red
    border: 0.125rem solid $red
    &:hover
      color: #939497
      border: 0.125rem solid #939497
.scrollup
  width: 3rem
  height: 3rem
  position: fixed
  bottom: 2rem
  right: 2rem
  display:none
  text-indent: -9999px
  background: url('../img/up-arrow.png') no-repeat
.input
  &-group
    position: relative
    display: flex
    flex-direction: column
    margin-bottom: 1.362rem
    width: 100%
label
  &.invalid
    color: $error
input
  &.invalid
    border-bottom: 1px solid $error
em
  &.invalid
    position: absolute
    top: 0
    right: 1px
    color: $error
