@media screen and ( max-width: 1200px )
  html
    font-size: 14px
@media screen and ( max-width:  992px )
  .hero
    &__social
      display: none
  .header
    .menu
      &__nav
        display: none
@media screen and ( max-width: 760px )
  .header
    .contacts
      &__phone
        padding-right: 1.2rem
  .features
    .col-32
      flex-basis: 47%
@media screen and ( max-width: 576px )
  html
    font-size: 12px
    .header
      .contacts
        &__button
          display: none
        &__phone
          padding-right: 0
    .hero
      &__title
        font-size: 2.5rem
        line-height: 3.4rem
    .features
      .col-32
        flex-basis: 90%
        margin: 3rem auto 0 auto
