@media screen and ( max-width: 1200px )
  html
    font-size: 14px
@media screen and ( max-width:  992px )
  .header
    .menu
      &__nav
        display: none
@media screen and ( max-width: 760px )
  .header
    .contacts
      &__phone
        padding-right: 1.2rem
@media screen and ( max-width: 576px )
  html
    font-size: 12px
  .header
    .contacts
      &__button
        display: none
      &__phone
        padding-right: 0