.feedback
  background: url('../img/feedback/feedback-bg.png') no-repeat center center
  &-title
    &__heading
      margin-bottom: 1.8rem
    &__text
      margin-bottom: 5.162rem
  &__link
    color: $red
  &__block
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    margin-bottom: 1rem
  &__client
    display: flex
    align-items: center
    justify-content: space-between
  &__text
    margin: 0
    margin-bottom: 2rem
    width: 90%
    max-width: 58rem
    text-align: center
    font-size: 1.375rem
    font-weight: 300
    line-height: 2.187rem
  &__client
    margin-bottom: 3.812rem
  &__button
    padding: 0.7rem 3.9rem 0.9rem 4rem !important
    &:hover
    padding: 0.575rem 3.775rem 0.775rem 3.875rem !important
.client
  &__wrap
    width: 6.562rem
    height: 6.562rem
    margin-right: 1rem
  &__name
    margin: 0
    font-size: 1.125rem
    font-weight: 500
    color: #0d0d0d
  &__place
    margin: 0
    font-size: 0.875rem
    font-weight: 400
    color: #848281
.swiper
  &-button
    &-prev, &-next
      bottom: auto
      top: 38%
      background-size: 42px
      width: 23px
      height: 43px
      &::after
        display: none
    &-prev
      left: 5%
      background: url('../img/arrow-prev.png') no-repeat center
    &-next
      right: 5%
      background: url('../img/arrow-next.png') no-repeat center