.feedback
  background: url('../img/feedback/feedback-bg.png') no-repeat center center
  padding-top: 1.6rem
  padding-bottom: 4rem
  &-title
    &__heading
      margin-bottom: 1.8rem
      padding-right: 0.4rem
    &__text
      margin-bottom: 5.162rem
      padding: 0
      max-width: 51.5rem
  &__link
    color: $red
  &__block
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    margin-bottom: 1rem
  &__client
    display: flex
    align-items: start
    justify-content: space-between
    padding-right: 2.3rem
  &__text
    margin: 0
    margin-bottom: 2rem
    width: 90%
    max-width: 58rem
    text-align: center
    font-size: 1.375rem
    font-weight: 300
    line-height: 2.187rem
  &__client
    margin-bottom: 3.812rem
  &__button
    margin-left: 0.8rem
  &-button
    &-prev, &-next
      bottom: auto
      top: 37%
    &-next
      right: 5%
.client
  &__wrap
    width: 6.562rem
    height: 6.562rem
    margin-right: 1rem
  &__name
    margin: 0
    margin-top: 1.85rem
    font-size: 1.125rem
    font-weight: 500
    color: #0d0d0d
  &__place
    margin: 0
    font-size: 0.875rem
    font-weight: 400
    color: $gray
