.header
  position: fixed
  padding-top: 30px
  left: 0
  top: 0
  width: 100%
  z-index: 2
.menu
  display: flex
  justify-content: space-between
  align-items: center
  &__logo
    display: flex
    align-items: center
.logo
  &__image
    width: 2.562rem
    height: 2.562rem
  &__link
    margin-left: 0.812rem
    font-size: 1.625rem
    font-weight: 700
    text-decoration: none
    color: $dark
.nav
  font-size: 1rem
  font-weight: 300
  text-transform: uppercase
  color: $dark
  &__item
    margin-right: 1.3rem
    text-decoration: none
    color: $dark
.contacts__phone
  margin-top: 1rem
  padding-right: 2.875rem
  font-size: 1.125rem
  text-decoration: none
  font-weight: 500
  color: $dark
