.section-hero
  background: url('../img/hero/hero-bg.png') no-repeat top -20px center
  background-size: cover
.hero
  display: flex
  justify-content: center
  align-items: start
  flex-direction: column
  margin-top: 19.65rem
  padding-bottom: 26rem
  &__title
    margin: 0
    margin-bottom: 2.4rem
    max-width: 46rem
    font-size: 3.875rem
    font-weight: 700
    line-height: 4.75rem
    color: $coal
    &--red
      color: $red
  &__text
    margin: 0
    margin-bottom: 2.4rem
    font-size: 1.25rem
    font-weight: 300
    line-height: 1.812rem
    max-width: 35.3rem
  &__social
    // position: absolute
    // left: 0
    // top: 400px
    // height: 100%
.social
  position: absolute
  top: 10.562rem
  left: 4.25rem
  display: flex
  align-items: center
  flex-direction: column
  &__line
    margin-bottom: 2.375rem
    width: 0.25rem
    height: 38.75rem
    border-radius: 0.125rem
    background-color: $red
  &__link
    margin-bottom: 2.375rem
    
    

 
      