.questions
  position: relative
  padding: 2.7rem 0 2.4rem 0
  // background: url("../img/questions/questions-bg-1.png") no-repeat top right -1rem
  // background-size: 100% 100%
  &__wrap
    display: flex
    align-items: start
    justify-content: flex-start
  &__contacts
    display: flex
    flex-direction: column
    padding: 2.75rem 0 2.45rem 0
  &__label
    color: #faf6f5
  &__input
    color: #413f3e 
  &__form
    margin-top: 4.2rem
    padding: 0
    padding-left: 4.9rem
    z-index: 3
  &__button
    margin-top: 1.05rem
    margin-right: 0.2rem
.contacts
  color: #1e1e1e
  &__title
    margin: 0
    font-size: 2.25rem
    font-weight: 500
    line-height: 2.75rem
    &--red
      color: $red
  &__address
    display: flex
    align-items: start
    justify-content: space-between
    margin-top: 2.2rem
    max-width: 27.575rem
  &__subtitle
    margin: 0
    margin-bottom: 0.8rem
    font-size: 1.5rem
    font-weight: 500
    line-height: 2.333rem
  &__point
    margin: 0
    margin-bottom: 0.7rem
    font-size: 1.125rem
    font-weight: 300
    // line-height: 0.958rem
  &__link
    display: block
    margin-bottom: 0.6rem
    text-decoration: none
    color: #1e1e1e
  &__work
    margin-top: 0.5rem
  &__group
    margin-bottom: 1.5rem
.group
  padding-top: 2rem
  &__text 
    margin: 0
    font-size: 1.125rem
    font-weight: 300
    line-height: 1.375rem
    &--bold
      font-weight: 500 
.bg-image
  position: absolute
  width: 59.5%
  height: 100% 
  top: 0  
  right: 0
  &__img
    // width: 100%
    height: 100% 

